/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

body {
    background-color: lightblue;
    margin: 0 auto;
    min-height: 100vh;
}

ul {
    display: flex;
    list-style: none;
    font-size: 14px;
}


.container {
    padding: 0 200px;
    display: flex;
    margin: 0 auto;

    

}

.current {
    background-color: brown;
}

/* header  */

header .container {
    justify-content: space-between;
    align-items: end;
    border-bottom: 3px solid salmon;
}

header {
    color: white;
}

header  nav  li {
    padding: 0 12px;
}

header  a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: pink;
    font-weight: 800;
}

.branding > h1 > span  {
    color: deeppink;
}

/* showcase */

.showcase > .container {
    height: 400px;
    background-image: url("https://picsum.photos/id/2/1500/500/?blur=4");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    
}

.showcase > .container >h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.showcase > .container > p {
    color: deeppink;
    font-size: medium;
    text-align: center;
}

.newsletter > .container {

    justify-content: space-between;
    padding: 16px 10%;
    color: coral;
    font-weight: 600;
    font-size: 20px;
}

.newsletter > .container form {
    display: flex;
    align-items: center;
    gap: 12px;
}

.button1 {
    display: flex;
    align-items: center;
    background-color: coral;
    color: white;
    border: none;
    height: 32px;
    padding: 16px;
}


.button1:hover {
    background-color: burlywood;
}

.newsletter > .container input {
    height: 32px;
    width: 240px;
    border: 0;
    padding: 8px;
    border-radius: 4px;
}

.boxes > .container {
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(194, 216, 223);
    padding: 40px 40px 16px 40px;

}

.box {
    width: 1em;
    flex-grow: 1;
    text-align: center;
}

footer p{
    text-align: center;
    color: white;
    padding: 20px;
}



.box > img {
    height: 120px;
}

@media(max-width:900px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }   
    .newsletter > .container {
        flex-direction: column;
        align-items: center;
    }

    .newsletter > .container form {
        flex-direction: column;
        width: 100%;
        
    }

    .newsletter > .container form > input {
        width: 100%;

    }
    .newsletter > .container form > .button1 {
        width: 100%;
        justify-content: center;
    }

    .boxes > .container { 
        flex-direction: column;
        align-items: center;
    
    }

    .box {
        width: 100%;
    }



}
